<html>
    <body>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
        <link rel="StyleSheet" href="css/core.css" type="text/css">
        <link rel="shortcut icon" href="http://aurelio.net/moneylog/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Eu que fiz: xupisco@gmail.com -->

        {% block content %}
        {% endblock %}

    </body>
</html>
