<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
        <link rel="StyleSheet" href="css/core.css" type="text/css">
        <link rel="shortcut icon" href="http://aurelio.net/moneylog/favicon.ico">

        <link rel="apple-touch-icon" href="images/ios_icon.png" />
        <link rel="apple-touch-startup-image" href="images/ios_splash.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Eu que fiz: xupisco@gmail.com -->

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-28986103-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    <body>

        {% block content %}
        {% endblock %}

    </body>
</html>
