{% extends "base.html" %}

{% block title %}MoneyLog Cloud{% endblock %}

{% block content %}
<script type="text/javascript" src="/js/commit_id.js"></script>
<script type="text/javascript">
$(function() {
    $("#about-dropbox-version").html('<a href=http://github.com/xupisco/MoneyLog-Cloud/commit/' + commit_id + '>' + commit_id.slice(0, 6) + '</a>');
});
</script>

<div id="login_container">
    <div id="login_logo">
        MoneyLog <span style="color: #2b97e9;">Cloud</span>
    </div>
    <div id="login_text">
		<p style="margin-bottom: 13px;">Esta é a versão online do <a href="http://aurelio.net/moneylog/">MoneyLog</a>, que usa o <a href="http://www.dropbox.com">Dropbox</a> para ler e salvar os seus dados, assim você pode acessar de qualquer lugar!</p>

        <a href="{{ auth_url }}" class="login_connect">Conectar</a>

        <p class="about">Será criada uma pasta "Moneylog Cloud" dentro da pasta /Apps do seu Dropbox. O aplicativo tem acesso somente aos arquivos dentro desta pasta. <a href="http://aurelio.net/moneylog/dropbox/">Saiba mais...</a></p>
    </div>
    <p class="commit">Source: <a href="http://github.com/xupisco/MoneyLog-Cloud/" title="Alguma dúvida? Veja o source...">GitHub</a> (<a href="#" id="about-dropbox-version"></a>)</p>
</div>
{% endblock %}