{% extends "base.html" %}

{% block title %}MoneyLog Box{% endblock %}

{% block content %}
<h1>MoneyLog Experience <em>online</em></h1>
<h3>Versão para Dropbox</h3>

<p>Utilize o seu querido e conhecido <a href="http://aurelio.net/moneylog/">MoneyLog</a> (do <a href="http://aurelio.net/">Aurélio</a>) de qualquer lugar ou computador.</p>
<p>É só conectar com sua conta do Dropbox e pronto!</p>
<h2><a href="{{ auth_url }}">Acesse agora!</a></h2>
<p>Não sabe o que é <a href="http://www.dropbox.com">Dropbox</a>?</p>
{% endblock %}